<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="methods" thread-count="2">

<listeners>
        <listener class-name="Analyzer.MyTransformer"/>
  </listeners> 

  <test name="Test">
    <classes>
      <class name="com.qa.pages.LoginPageTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
